@font-face {
  font-family: "geomanist-light-webfont";
  src: url("fonts/geomanist-light-webfont.eot");
  src: url("fonts/geomanist-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/geomanist-light-webfont.woff2") format("woff2"),
    url("fonts/geomanist-light-webfont.woff") format("woff"),
    url("fonts/geomanist-light-webfont.ttf") format("truetype"),
    url("fonts/geomanist-light-webfont.svg#geomanistregular") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "geomanist-regular-webfont";
  src: url("fonts/geomanist-regular-webfont.eot");
  src: url("fonts/geomanist-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/geomanist-regular-webfont.woff2") format("woff2"),
    url("fonts/geomanist-regular-webfont.woff") format("woff"),
    url("fonts/geomanist-regular-webfont.ttf") format("truetype"),
    url("fonts/geomanist-regular-webfont.svg#geomanistregular") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "geomanist-medium-webfont";
  src: url("fonts/geomanist-medium-webfont.eot");
  src: url("fonts/geomanist-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/geomanist-medium-webfont.woff2") format("woff2"),
    url("fonts/geomanist-medium-webfont.woff") format("woff"),
    url("fonts/geomanist-medium-webfont.ttf") format("truetype"),
    url("fonts/geomanist-medium-webfont.svg#geomanistregular") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "geomanist-bold-webfont";
  src: url("fonts/geomanist-bold-webfont.eot");
  src: url("fonts/geomanist-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/geomanist-bold-webfont.woff2") format("woff2"),
    url("fonts/geomanist-bold-webfont.woff") format("woff"),
    url("fonts/geomanist-bold-webfont.ttf") format("truetype"),
    url("fonts/geomanist-bold-webfont.svg#geomanistregular") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(fonts/NotoSansKR-Thin.woff2) format("woff2"),
    url(fonts/NotoSansKR-Thin.woff) format("woff"),
    url(fonts/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NotoSansKR-Light.woff2) format("woff2"),
    url(fonts/NotoSansKR-Light.woff) format("woff"),
    url(fonts/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSansKR-Regular.woff2) format("woff2"),
    url(fonts/NotoSansKR-Regular.woff) format("woff"),
    url(fonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/NotoSansKR-Medium.woff2) format("woff2"),
    url(fonts/NotoSansKR-Medium.woff) format("woff"),
    url(fonts/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/NotoSansKR-Bold.woff2) format("woff2"),
    url(fonts/NotoSansKR-Bold.woff) format("woff"),
    url(fonts/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(fonts/NotoSansKR-Black.woff2) format("woff2"),
    url(fonts/NotoSansKR-Black.woff) format("woff"),
    url(fonts/NotoSansKR-Black.otf) format("opentype");
}
